*{
padding: 0px;
margin: 0px;
}
.image{
    background-image: url('image/bike image.jpg');
    background-size: 100% 100%;
    max-width: 100%;
    height: 100vh;
    background-color: transparent;
}
nav {
    background-color: transparent;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    font-size: 1.5rem;
    padding-left:5%;text-transform: uppercase;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
ul li {
    margin-right: 20px;
}
ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
ul li a:hover {
    color: orange;
    text-decoration: underline;
}
.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
    border:2px solid white;
}
#check {
    display: none;
}
@media (max-width: 768px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
      padding-left:0;
      padding-right:0;
      padding-top:0;
      padding-bottom:0;
    }
  
    ul {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: transparent;
      background-color:rgba(0,0,0,0.5);
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  
    ul li {
      margin: 20px 0;
    }
  
    ul li a {
      font-size: 20px;
    }
    ul li a:hover {
        color: orange;
        text-decoration: underline;
    }
  
    #check:checked ~ ul {
      right: 0;
      color:white;
    }
    .image{
        height: auto;

    }
    #line1{
        font-size: 20px;
        
    }
    #line2{
        font-size:20px;
    }
    #line3{
        font-size:20px;
        padding-bottom: 60px;
    }
    .submit5{
        margin-left:50px;

    }

    .imgbutton1{
        padding-right:50px;
        
    }
    .imgbutton2{
        padding-right:50px;
    }
    .imgbutton3{
        padding-right:50px;
    }
    .imgbutton4{
        padding-right:50px;
    }
    
}

.login:hover{
    border:1px solid white;
    color:white;
    background-color:transparent;
    padding:5px 5px 5px 5px;
    border-radius: 5px;
    text-decoration: none;
}
#line1{
    padding-top: 11%;
    text-transform: uppercase;
    color:orange;
    font: bold;
    text-shadow: 1px 1px;
    margin: 0 50px 0 20px;
} 
#line2{
    text-transform: uppercase;
    color:white;
    font: bold;
    text-shadow: 1px 1px ;
    margin: 0 50px 0 20px;
}
#line3{
    text-transform: uppercase;
    color:green;
    font: bold;
    text-shadow: 1px 1px ;
    margin: 0 50px 0 20px;
}
.text1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
.text1 p{
    Padding-top:1%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 18px;
}
.menu{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: auto;
}
.imgbutton1{
    display: inline-block;
    background-image: url('image/mountain.jpg'); 
    background-size: cover; 
    width: 300px; 
    height: 200px; 
    border-style: double;
    border-color:#F2E9E8 ;
    margin-left: 1.7%;
    margin-top: 3%;  
    cursor: pointer; 
    text-align:center;
}
.imgbutton1:hover{
    border-color: green;
    box-shadow: 2px 2px;
}
.imgbutton2{
    display: inline-block;
    background-image: url('image/road.jpg'); 
    background-size: cover; 
    width: 300px; 
    height: 200px; 
    border-style: double;
    border-color:#F2E9E8 ;
    margin-left:1.7%;
    margin-top: 3%;
    cursor: pointer;
    text-align:center;
}
.imgbutton2:hover{
    border-color: green;
    box-shadow: 2px 2px;
}
.imgbutton3{
    display: inline-block;
    background-image: url('image/hybrid.jpg'); 
    background-size: cover; 
    width: 300px; 
    height: 200px; 
    border-style: double;
    border-color:#F2E9E8 ;
    margin-left:1.7%;
    margin-top: 3%;
    cursor: pointer;
    text-align:center;
}
.imgbutton3:hover{
    border-color: green;
    box-shadow: 2px 2px;
}
.imgbutton4{
    display: inline-block;
    background-image: url('image/electric.jpg'); 
    background-size: cover; 
    width: 300px; 
    height: 200px; 
    border-style: double;
    border-color:#F2E9E8 ;
    margin-left:1.7%;
    margin-top: 3%;
    cursor: pointer;
    text-align:center;
}
.imgbutton4:hover{
    border-color: green;
    box-shadow: 2px 2px;
}
.submit{
    margin-top:100px; 
    margin-left:100px; 
    padding:5px 5px 5px 5px; 
    background-image: white;
    border-radius: 5px;
    cursor: pointer;
}
.submit:hover{
    color: white;
    background-color:green;
    transform: scaleX(1.5);
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
#submit1{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
#submit1:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 73%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
  
.footer{
    width:100%;
    background-color: rgb(62, 75, 75);
    color:white;
    padding-top: 5%;
}
.media{
    padding-top:50px;
    padding-bottom:10px;
}
.media img{
    padding:1px 1px 1px 1px;
    width:3%;
    height: 3%;
    background-color: white;
    border-radius: 80px;
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
}
.media img:hover{
    border: 1px solid green;
}
.options{
    padding-top:10px;
    padding-bottom:10px;
}
.options ol li{
    display:inline-block;
    padding:0 10px 0 10px;
    cursor: pointer;
}
.options ol li:hover{
    color: black;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.footer p{
    padding-top:10px;
    padding-bottom:10px;
}



 
